#drawPage {
    height: 100%;
    display:flex;
    flex-direction:column;
}

#canvasContainer {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    aspect-ratio: 2 / 3;
    
    border: 3px solid #5C370A;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 767px) {
        width: 100%;
    }

    @media only screen and (min-width: 767px) {
        height: 100%;
    }
}

/* Modal Overlay Styles */
.modal-overlay {
    position: fixed; /* Positioned above everything */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black to darken background */
    display: flex;
    justify-content: center; /* Center modal horizontally */
    align-items: center;     /* Center modal vertically */
    z-index: 1000; /* High z-index to make sure modal is above everything else */
  }
  
  /* Modal Content Styles */
  .modal-content {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #FFEED3;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
    z-index: 1001; /* This ensures the content is above the modal overlay */
  }
  
#canvas h1 {
    margin: 8px 0px;
    font-size: 30px;
}

#canvas h2 {
    margin: 8px 0px;
    width: 250px;
    font-size: 24px;
    text-align: center;
}

#promptCountdown {
    font-size: 64px;
}

#drawHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* height: 72px; */
    margin: 20px;

    background-color: #FFEED3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: opacity 0.5s ease-in-out;
}

#drawLogo {
    height: 28px;
}

#drawPrompt {
    margin-top: -8px;
    font-size: 28px;
}

#drawCountdown {
    font-size: 36px;
}

#canvas canvas {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    touch-action: none;
}

#colorPicker {
    padding: 5px 20px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colorButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #5C370A;
    box-shadow: 0px 10px #5C370A;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -20px;

    transition: all 0.1s ease-in-out;
}

.colorButtonSelected {
    margin-top: 0;
    box-shadow: 0px 0px #5C370A;
}

.closeModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.closeOptions {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.closeOptions button {
    width: 75px;
    height: 75px;
}
 
.submitModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.submitModal p {
    font-size: 20px;
    text-align: center;
}

.submitModal input {
    width: 80%;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    border: 3px solid #5C370A;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.redBorder {
    border-color: #EF8D8D!important;
}
