#canvas {
    aspect-ratio: 2 / 3;
    max-width: 90vw;
    max-height: 80vh;
    border: 3px solid #5C370A;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 1rem;
}

/* Modal Overlay Styles */
.modal-overlay {
    position: fixed; /* Positioned above everything */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black to darken background */
    display: flex;
    justify-content: center; /* Center modal horizontally */
    align-items: center;     /* Center modal vertically */
    z-index: 1000; /* High z-index to make sure modal is above everything else */
  }
  
  /* Modal Content Styles */
  .modal-content {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #FFEED3;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
    z-index: 1001; /* This ensures the content is above the modal overlay */
  }
  
