@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root {
  height: 100%;
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  
  @media only screen and (max-width: 767px) {
    padding: 16px 20px;
    /* height: 30px; */
  }
}

#navLogo {
  height: 40px;
}

#navLinks {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

/* Media query for desktop screens */
#navHamburger {
  height: 25px;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

#navMenu {
  position: fixed;
  width: 100%;
  top: 72px;
  overflow: hidden;
  border-bottom: #5C370A 1px solid;
  margin-bottom: 10px;
}

.navLink {
  font-size: 20px;
}

#navMenu .navLink {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  background-color: #FFEED3;
  color: #5C370A;
  width: 100%;
  text-align: left; /* aligned to the left */
}

#navLinks .navLink {
  padding-left: 30px;
  text-decoration: none;
  background-color: #FFEED3;
  color: #5C370A;
  text-align: left; /* aligned to the left */
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #FFEED3;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

* {
  font-family: 'Inter', sans-serif;
  color: #5C370A;
}