@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  
  @media only screen and (max-width: 767px) {
    padding: 16px 20px;
    /* height: 30px; */
  }
}

#navLogo {
  height: 40px;
}

#navLinks {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

/* Media query for desktop screens */
#navHamburger {
  height: 25px;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

#navMenu {
  position: fixed;
  width: 100%;
  top: 72px;
  overflow: hidden;
  border-bottom: #5C370A 1px solid;
  margin-bottom: 10px;
}

.navLink {
  font-size: 20px;
}

#navMenu .navLink {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  background-color: #FFEED3;
  color: #5C370A;
  width: 100%;
  text-align: left; /* aligned to the left */
}

#navLinks .navLink {
  padding-left: 30px;
  text-decoration: none;
  background-color: #FFEED3;
  color: #5C370A;
  text-align: left; /* aligned to the left */
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #FFEED3;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @media only screen and (max-width: 767px) {
    height: 90%;
  }
}

main {
  flex: 1;
}

* {
  font-family: 'Inter', sans-serif;
  color: #5C370A;
}

.super-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.parent {
  display: flex;
  max-width: 100%;
  /* padding: 15%; */
  padding-left: 15%;
  padding-right: 30%;
  padding-top: 5%;
  transition: all 2s ease;
}


.live-large {
  font-size: 60px;
  font-weight: bold;
  text-align: right;
}


.live-normal {
  font-size: 22px;
  text-align: right;
  margin-top: 7%;
}

.live-link {
  text-decoration: underline;
}

.column-40 {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

.column-40 img {
  /* max-width: 90%; */
  height: 439px;
  width: 439px;
  border-radius: 20px;
}

.column-60 {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-60 .live-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 427px;
  height: 157px;
}

.button-container {
  padding-top: 3%;
  text-align: center;
}

.button {
  padding: 10px 20px;
  border-radius: 15px;
  border: 3px solid #5C370A; /* Border with consistent color */
  box-shadow: 0 10px 20px 0 #5C370A; /* Solid shadow with the same color as the border */
  background-color: #FFEED3;
  color: #5C370A;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.sqs-block-button-element {
  box-shadow: 0px 8px #5C370A;
  border: 2px solid #5C370A !important;
  transition: all ease-in 0.2s !important;
  display: inline-block;
  padding: 12px 24px; /* Increase padding to make the button larger */
  text-align: center;
  text-decoration: none;
  font-size: 22px; /* Increase font size to make the text larger */
  font-weight: bold;
  color: #5C370A;
  background-color: #FFEED3;
  cursor: pointer;
  border-radius: 10px; /* Rounded border for the button */
}

.sqs-block-button-element:hover {
  box-shadow: none;
  transform: translateY(4px) !important;
  transition: all ease-in 0.2s;
  opacity: 1 !important;
}

.parent-feed-maximized {
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 5%; */
  /* padding: 15%; */
  /* padding-left: 15%;
  padding-right: 30%;
  */
  transition: all 2s ease;
}

.live-large-feed-maximized {
  font-size: 48px;
  font-weight: bold;
  text-align: right;
}

.live-normal-feed-maximized {
  font-size: 24px;
  text-align: right;
  margin-top: 7%;
}

.column-1-maximized {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.column-1-maximized .live-text-maximized {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 427px;
  height: 157px;
}

.column-2-maximized {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-1-maximized img {
  /* max-width: 90%; */
  height: 439px;
  width: 439px;
  border-radius: 20px;
}

.qr-maximized {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 10%;
  width: 100%;
  min-width: 100%;
}

.qr-maximized img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  justify-content: center;
  margin-top: 20px; 
  /* height: 300px;
  width: 300px; */
  width: 60%;
  padding: 80px;
  margin-top: -25px;
}

.result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-color: #FFEED3;
  color: #5C370A;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}



